.page-full-height {
  height: calc(100vh - 165px);
  overflow-y: auto; }
  .page-full-height::-webkit-scrollbar {
    display: none; }

.custom-scrollbar {
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px; }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #c7bebe; }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(89, 89, 89, 0.69); }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; }

.desktop-menu .active, .mobile-menu .active {
  color: black;
  font-weight: bold; }

.modal-parent .full-height {
  min-height: 100vh; }
.modal-parent [type="checkbox"]:checked,
.modal-parent [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px; }
.modal-parent .modal-btn:checked + label,
.modal-parent .modal-btn:not(:checked) + label {
  transition: all 200ms linear; }
.modal-parent .modal-btn:checked + label .uil,
.modal-parent .modal-btn:not(:checked) + label .uil {
  margin-left: 10px;
  font-size: 18px; }
.modal-parent .modal-btn:checked + label:after,
.modal-parent .modal-btn:not(:checked) + label:after {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 110;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  background-color: #ee1332;
  color: #ffffff;
  font-family: 'unicons';
  content: '';
  box-shadow: 0 12px 25px 0 rgba(16, 39, 112, 0.25);
  transition: all 200ms linear;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px); }
.modal-parent .modal-btn:checked + label:after {
  transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0); }
.modal-parent .modal {
  position: fixed;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31, 32, 41, 0.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease; }
.modal-parent .modal-btn:checked ~ .modal {
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out; }
.modal-parent .modal-wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  -ms-flex-item-align: center;
  align-self: center;
  box-shadow: 0 12px 25px 0 rgba(199, 175, 189, 0.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease; }
.modal-parent .modal-wrap img {
  display: block;
  width: 100%;
  height: auto; }
.modal-parent .modal-wrap p {
  padding: 20px 30px 0 30px; }
.modal-parent .modal-btn:checked ~ .modal .modal-wrap {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease; }
.modal-parent .modal-btn:checked ~ .logo img {
  filter: brightness(100%);
  transition: all 250ms linear; }
@media screen and (max-width: 500px) {
  .modal-parent .modal-wrap {
    width: calc(100% - 40px);
    padding-bottom: 15px; }
  .modal-parent .modal-wrap p {
    padding: 15px 20px 0 20px; } }

.h-full-i {
  height: 100% !important; }

.link-preview .Description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block; }

.project-cat-active {
  color: #000000;
  font-weight: bold;
  border-bottom: 2px solid #000000; }

.project-card {
  overflow: hidden; }
  .project-card img {
    transform: scale(1);
    transition: all 200ms ease-in-out; }
  .project-card:hover img {
    transform: scale(1.2); }

.project-card-title {
  background-color: rgba(0, 0, 0, 0.5); }

.single-project-thumb {
  opacity: .5; }

.active-thumb {
  border: 2px solid #fd7150; }

.webkit-inline-box {
  display: inline-flex; }

.project-video-dialog button {
  z-index: 10;
  background-color: #fd7150;
  border-radius: 50%;
  top: 5px;
  right: 5px; }
  .project-video-dialog button svg {
    fill: white;
    padding: 3px; }

.project-single-gallery-height {
  height: calc(100vh - 221px); }
  @media screen and (max-width: 700px) {
    .project-single-gallery-height {
      height: auto; } }

.project-info-dialog {
  padding: 40px;
  max-width: max-content !important;
  max-height: 90% !important;
  display: inline-flex !important; }
  .project-info-dialog div::-webkit-scrollbar {
    display: none; }
  .project-info-dialog button {
    z-index: 10;
    background-color: #fd7150;
    border-radius: 50%;
    top: 5px;
    right: 5px; }
    .project-info-dialog button svg {
      fill: white;
      padding: 3px; }

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #196be7;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite; }

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=global.css.map */
